@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 5vh 20vh;
}

h1, h2 {
    text-align: center;
    margin: 10px;
}

h1 {
    font-size: 2rem;
    color: lightslategray;
}

p#title-paragraph{
    text-align: center;
}

section{
    margin: 1rem 0;
    box-shadow: 0 0 0.5em black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

section p {
    text-align: justify;
    padding: 1rem;
}

section img {
    padding: 1rem;
    width: 20%;
    height: 20%;
}