* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ccc;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0.6rem;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem;
}

section#page-two {
    display: grid;
    grid-template-columns: 1fr 200px;
    padding: 2rem;
    gap: 3rem;
}

section#page-two main section div {
    background-color: #ccc;
    width: 100%;
    height: 500px;
}

section#page-two aside section div {
    background-color: #ccc;
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
}

section#page-two aside section {
    display: flex;
    gap: 1rem;
}