@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Inter", Arial, sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 396px);
    grid-template-rows: auto;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 3rem 0;
}

nav {
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

nav div#search {
    display: flex;
    justify-content: center;
    width: 40%;
    align-items: center;
    position: relative;
}

input {
    outline: none;
    width: 100%;
    padding: 8px 24px;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #ebebeb;
}

.bi-search {
    top: 1;
    color: #737373;
}

button {
    background-color: #3772ff;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 48px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

header {
    grid-column: 1 / 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 396px);
    margin-top: 3rem;
    width: 100%;
}

header section {
    grid-column: 1 / 3;
    grid-row: 2;
}

header img {
    grid-column: 3 / 4;
    grid-row: 2;
}

header section div h1 {
    font-size: 3rem;
    font-weight: 600;
    width: 75%;
}

header section div p {
    color: #737373;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 2rem 0;
}

header section ul {
    display: flex;
    padding: 2rem 0;
    align-items: center;
}

header section ul li {
    list-style: none;
}

header section ul li h3 {
    font-weight: 600;
    font-size: 2rem;
}

header section ul li p {
    color: #737373;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

section#line-three {
    grid-column: 1 / 4;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3, 396px);
    width: 100%;
    margin-top: 3rem;
}

section#line-three div#banners {
    grid-column: 1/3;
}

section#line-three div#banners img {
    padding-right: 2rem;
}

section#line-three div#text {
    grid-column: 3 / 4;
}

section#line-three div#text h2 {
    font-size: 2rem;
    font-weight: 500;
    width: 55%;
    padding-bottom: 2rem;
}

section#line-four {
    grid-column: 1 / 4;
    grid-row: 4;
    margin-top: 3rem;
}

section#line-four h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

section#line-four div#artists-group {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

section#line-four div#artists-group .artist {
    display: flex;
    position: relative;
}

section#line-four div#artists-group .artists p {
    position: absolute;
    color: #f9f9f9;
    font-size: 1.3rem;
    font-weight: 600;
}

section#line-four div#artists-group .artists span {
    color: #ebebeb;
    position: absolute;
    font-weight: 500;
    font-size: 0.7rem;
    left: 20px;
    top: 42px;
}

section#line-four div#artists-group .artists img {
    width: 100%;
}

footer {
    grid-column: 1 / 4;
    grid-row: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    font-size: 1rem;
    padding-left: 4.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    body {
        display: block;
        padding: 1.5rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #search {
        display: none;
    }
    
}